@CHARSET "UTF-8";

body {
	background: url("./images/background.png");
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 1003px;
}

.order-content {
	margin-top: 40px;
	padding: 20px 40px;
	background-color: rgba(255, 255, 255, .5);
}

.order-ad {
	height: 150px;
	background: url("./images/logo.png") 50px 30px no-repeat;
	background-color: rgba(81, 173, 12, .4);
	margin-bottom: 2px;
}

.order-ad .ad-content {
	text-align: left;
	color: white;
	font-size: 20px;
	margin-left: 380px;
	height: 100%;
	padding: 50px 0;
	padding-left: 60px;
	font-weight: bold;
	background: url("./images/laba.png") 0px 58px no-repeat;
}


.food-panel {
	
}

.address-tip {
	margin: 5px 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #F4FFFC;
	font-size: 20px;
	font-weight: bold;
	background: url("./images/select-addr-icon.png") 389px 9px no-repeat;
	margin-left: 30px;
}

.address-list {
	text-align: center;
	height: 90px;
}

.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.address-item {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 80px;
	height: 80px;
	text-align: center;
}


.address-item h5 {
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.address-item.curr h5 {
	color: #196A0D;
}

.food-tab {
	margin: 2px 0;
	display: none;
}

.food-tab li {
	display: inline-block;
	*display: inline;
	height: 60px;
	cursor: pointer;
}

.food-tab li.self {
	background: url("./images/tab-self-gray.png");
	width: 358px;
}

.food-tab li.self:HOVER,.food-tab li.self.selected:HOVER {
	background: url("./images/tab-self-hover.png");
}

.food-tab li.self.selected {
	background: url("./images/tab-self.png");
}

.food-tab li.classic {
	background: url("./images/tab-classic-gray.png");
	width: 358px;
	margin-left: -59px;
}

.food-tab li.classic:hover,.food-tab li.classic.selected:HOVER {
	background: url("./images/tab-classic-hover.png");
}

.food-tab li.classic.selected {
	background: url("./images/tab-classic.png");
}

.food-list.free {
	display: none;
}

.food-list .class-list {
	margin: 3px 0;
}

.class-list .class-icon {
	width: 135px;
	padding: 10px 0 7px 0;
	background-color: rgba(81, 173, 12, .4);
	text-align: center;
	float: left;
}

.class-list .class-food {
	min-height: 125px;
	padding-bottom: 5px;
	margin-left: 2px;
	width: 524px;
	background-color: rgba(81, 173, 12, .4);
	float: right;
}

.class-list .food-item {
	display: inline-block;
	width: 109px;
	height: 104px;
	margin: 8px 0 0 8px;
	padding: 12px 0;
	text-align: center;
	background: url("./images/food-item-bg.png");
	cursor: pointer;
	position: relative;
}

.class-list .add-food-tip {
	width: 20px;
	height: 20px;
	color: red;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	display: none;
}

.class-list .food-item:HOVER {
	background: url("./images/food-item-bg-hover.png");
}

.class-list .food-item:ACTIVE {
	background: url("./images/food-item-bg-active.png");
}

.class-list .food-pic {
	width: 85px;
	height: 83px;
	margin: 0;
	border-radius: 8px;
}

.class-list .food-name {
	margin-top: 4px;
	color: white;
}

/***套餐区*/
.food-list.package .food-item {
	display: inline-block;
	width: 109px;
	height: 153px;
	margin: 8px 0 0 8px;
	padding: 10px 0;
	text-align: center;
	background: url("./images/package-item-bg.png");
	cursor: pointer;
}

.food-list.package .food-item:HOVER {
	background: url("./images/package-item-bg-hover.png");
}

.food-list.package .food-item:ACTIVE {
	background: url("./images/package-item-bg-active.png");
}

.food-list.package .class-food {
	padding-bottom: 6px;
}

.food-list.package .food-pic {
	height: 85px;
}

.food-list.package .package-food-list {
	height: 76px;
	display: table;
}

.food-list.package .package-content {
	vertical-align: middle;
	display: table-cell;
	width: 110px;
}

.food-list.package .package-food-list p {
	margin: 0;
	height: 18px;
}

.food-list.package .package-food-list p.pakage-name {
	color: #2E292C;
}

/***我的餐盘 **/
.row-fluid .plate-panel {
	margin-left: 17px;
	width: 324px;
}

.plate-panel .my-plate {
	height: 60px;
	background: url("./images/my-plate.png");
}

.plate-panel .plate-list {
	background: url("./images/plate-list-bg.png") repeat-y;
	margin-top: 2px;
	min-height: 150px;
	height: auto;
	padding: 5px 1px;
}

.plate-list .plate-item {
	background-color: #479F0B;
	margin: 0 4px 3px 8px;
	padding-bottom: 1px;
}

.plate-list .plate-item-title {
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-left: 20px;
	font-size: 23px;
	color: #FFFEFF;
	background: url("./images/plate-item-title-bg.png");
	cursor: pointer;
}

.plate-list .plate-food-list {
	margin: 0 2px;
	display: none;
}

.plate-list .plate-item.first {
	dislay: none;
	background: none;
}

.plate-list .plate-item.first .plate-item-title {
	display: none;
}

.plate-list .plate-item.first  .plate-food-item {
	margin-top: 5px;
}

.plate-list .plate-item.curr .plate-item-title {
	background: none;
}

.plate-list .plate-item.curr .plate-food-list {
	display: block;
}

.plate-list .plate-food-item {
	position: relative;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #667055;
	font-size: 24px;
	font-weight: bold;
	list-style-type: none;
	background: url("./images/plate-food-item-bg.png");
	height: 40px;
	margin-bottom: 3px;
}

.plate-list .food-count {
	display: none;
}

.plate-list .minus-icon,.plate-list .add-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.plate-list .minus-icon {
	left: 8px;
	top: 4px;
	background: url("./images/minus-icon.png");
}

.plate-list .minus-icon:HOVER {
	background: url("./images/minus-icon-hover.png");
}

.plate-list .minus-icon:ACTIVE {
	background: url("./images/minus-icon-active.png");
}

.plate-list .add-icon {
	right: 8px;
	top: 4px;
	background: url("./images/add-icon.png");
}

.plate-list .add-icon:HOVER {
	background: url("./images/add-icon-hover.png");
}

.plate-list .add-icon:ACTIVE {
	background: url("./images/add-icon-active.png");
}

.plate-panel .price-total {
	width: 324px;
	height: 47px;
	background: url("./images/price-total-bg.png");
	position: relative;
	display: none;
}

.plate-panel .price-total em {
	color: #425C39;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	left: 192px;
	top: 13px;
	width: 85px;
	text-align: center;
}

.plate-panel .add-plate {
	height: 40px;
	margin-top: 2px;
	background: url("./images/add-plate.png");
	cursor: pointer;
	display: none;
}

.plate-panel .add-plate:HOVER {
	background: url("./images/add-plate-hover.png");
}

.plate-panel .add-plate:ACTIVE {
	background: url("./images/add-plate-active.png");
}

.plate-panel .submit-order {
	height: 40px;
	margin-top: 5px;
	background: url("./images/submit-order.png");
	cursor: pointer;
}

.plate-panel .submit-order:HOVER {
	background: url("./images/submit-order-hover.png");
}

.plate-panel .submit-order:ACTIVE {
	background: url("./images/submit-order-active.png");
}

/**我的订单**/
.order {
	width: 956px;
	left: 35%;
	background: none;
}

.order .order-title {
	background: url("./images/order/order-title-bg.png");
	height: 40px;
}

.order .order-plate-list {
	background-color: white;
}

.order .order-plate-item, .order .order-plate-null {
	width: 294px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 10px;
	vertical-align: top;
}

.order .order-plate-item {
	background-color: #479F0B;
}

.order .order-plate-null {
	background: url("./images/order/plate-null-bg.png") no-repeat center center;
}

.order .order-plate-item.centerone {
	margin: 0 13px;
}

.order .order-plate-title {
	margin: 0;
	text-align: center;
	padding: 10px 0;
	color: #E9F2E1;
	font-size: 20px;
}

.order .order-plate-food {
	margin: 0 2px;
}

.order .order-food-item {
	list-style-type: none;
	color: #595959;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align: center;
	padding: 5px;
	margin-bottom: 3px;
}

.order .order-plate-price {
	margin: 0;
	padding-bottom: 2px;
}

.order .order-plate-price em {
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-left: 210px;
}

.order .order-tip {
	margin-top: 10px;
	padding-top: 10px;
	background-color: #479F0B;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.order .order-tip.nodiscount {
	height: 30px;
	line-height:30px;
	padding-bottom: 10px;
}

.order .order-price-total {
	margin-left: 10px;
}

.order .order-discount {
	list-style-type: none;
	margin-left: 220px;
	width: 275px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.order .order-discount li {
	background: url("./images/order/order-discount-bg.png") 0 3px no-repeat;
	padding-left: 18px;
	display: none;
}

.order .order-reality {
	margin-left: 135px;
}

#order-reality-price {
	font-size: 30px;
}

.order .order-info {
	width: 100%;
	margin-top: 15px;
}

.order .order-info .info-title {
	width: 10%;
	text-align: right;
}

.order .order-info .info-content {
	padding: 0 0 8px 15px;
}

.order .lunch-time, .order .dinner-time, .order .thirty-time, .order .hour-time {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
}

.order .lunch-time {
	width: 94px;
	background: url("./images/order/lunch-time-gray.png");
}

.order .lunch-time.curr {
	background: url("./images/order/lunch-time.png");
}

.order .lunch-time:hover {
	background: url("./images/order/lunch-time-hover.png");
}


.order .dinner-time {
	width: 94px;
	background: url("./images/order/dinner-time-gray.png");
}

.order .dinner-time.curr {
	background: url("./images/order/dinner-time.png");
}

.order .dinner-time:hover {
	background: url("./images/order/dinner-time-hover.png");
}


.order .thirty-time {
	width: 110px;
	background: url("./images/order/thirty-time-gray.png");
}

.order .thirty-time.curr {
	background: url("./images/order/thirty-time.png");
}

.order .thirty-time:hover {
	background: url("./images/order/thirty-time-hover.png");
}

.order .hour-time {
	width: 110px;
	background: url("./images/order/hour-time-gray.png");
}

.order .hour-time.curr {
	background: url("./images/order/hour-time.png");
}

.order .hour-time:hover {
	background: url("./images/order/hour-time-hover.png");
}

.order .info-content input {
	margin: 0;
	width: 802px;
	border: 1px solid #595959;
} 

.order .order-button {
	text-align: center;
}


.order .submit-btn, .order .cancle-btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 86px;
	height: 38px;
}

.order .submit-btn {
	background: url("./images/order/submit-btn-bg.png");
}

.order .submit-btn:HOVER {
	background: url("./images/order/submit-btn-hover.png");
}

.order .submit-btn:ACTIVE {
	background: url("./images/order/submit-btn-active.png");
}

.order .cancle-btn {
	background: url("./images/order/cancle-btn-bg.png");
}

.order .cancle-btn:hover{
	background: url("./images/order/cancle-btn-hover.png");
}

.order .cancle-btn:active {
	background: url("./images/order/cancle-btn-active.png");
}

#submit-success-tip {
	width: 450px;
	top: 70%;
}
#submit-success-tip .success-tip {
	color: #999999;
	padding-left: 15px;
}

.copyright{  
  margin-left:10px;  
  padding:10px;  
 }